.list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.image-container{
    width: 60px;
    height: 60px;
}
.image{
    width: 100%;
    border: 1px solid #ddd; /* Optional: Add a border for better separation */
    border-radius: 4px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    transition: transform 0.05s ease-in-out; /* Optional: Add a smooth transition effect */
}
.image:hover {
    transform: scale(1.03); /* Optional: Add a scale effect on hover */
    cursor: pointer;
  }
  .delete-overlay {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .delete-overlay {
    opacity: 1;
}

.delete-icon {
    font-size: 24px;
}

.delete-text {
    font-size: 12px;
    margin-top: 5px;
}